@charset "utf-8";
@import "animate";
@import "normalize";
@import "variables";

:root {
  --main-color-dark: hsl(6, 83%, 36%);
  --main-color: hsl(6, 83%, 45%);
  --main-bg: #ecf0f1;
  --main-font-color: #353535;
  --main-font-family: Montserrat, sans-serif;
  --dark-bg: #242424;
}

small {
  font-size: 85%;
  font-weight: lighter;
}

blockquote {
  border-left: 4px solid lighten(#454545, 40%);
  color: lighten(#454545, 20%);
  padding: 0.25rem 0.75rem;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

hr {
  border: none;
  border-bottom: 4px solid var(--main-color);
  padding: 0.25rem;
  margin: 0.25rem 0 0.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font-family);
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: var(--main-font-color);
  background-color: var(--main-bg);
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @media #{$mq-medium} {
    font-size: $base-font-size * 1.2;
    line-height: $base-line-height * 1.2;
  }

  @media #{$mq-large} {
    font-size: $base-font-size * 1.3;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size * 1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size * 1.6;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.banner-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--main-bg);
  background-color: var(--dark-bg);
  min-height: 70vh;
}

.banner-img--anarchy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/a-backdrop.png");
}

.banner-img--fnb {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://cdn.pixabay.com/photo/2017/11/06/17/04/vegetables-2924239_960_720.jpg");
}

.banner-img--zines {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/zines.jpg");
}

/*--------------------------------------------------- $ANCHORS */

a,
.anchor {
  color: var(--main-color);

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.anchor--light {
  text-decoration: none;
  color: var(--main-bg);
  background-color: var(--main-color);

  &:hover,
  &:active {
    background-color: var(--main-bg);
    color: var(--main-font-color);
  }
}

.anchor--button-light {
  text-align: center;
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: var(--main-bg);
  background-color: transparent;
  border: 4px solid var(--main-bg);
  padding: 0.75rem 1.5rem;
  margin: 1.5rem 3rem;

  &:hover,
  &:active {
    background-color: var(--main-bg);
    color: var(--main-font-color);
  }
}

.anchor--button-dark {
  text-align: center;
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: var(--main-font-color);
  background-color: transparent;
  border: 4px solid var(--main-font-color);
  padding: 0.75rem 1.5rem;
  margin: 1.5rem 3rem;

  &:hover,
  &:active {
    background-color: var(--main-color);
    color: var(--main-bg);
  }
}

/* Remove link style for header links, logo, etc. */

.anchor--inherit-style {
  all: inherit;
  cursor: pointer;
}

/* Ensure "active link style isn't overwritten by visited rules */
.active {
  color: var(--main-color);
}

.active:visited {
  color: var(--main-color);
}

/*-------------- $COLORS */

.bg--red {
  background-color: var(--main-color);
  color: var(--main-bg);
}

.bg--black {
  background-color: var(--dark-bg);
  color: var(--main-bg);
}

.color--main {
  color: var(--main-color);
}

/*----------------------------- $DECORATIONS */

.bold__color--main {
  font-weight: bold;
  color: var(--main-color);
}

.border--bottom {
  border-bottom: 5px solid var(--main-color);
}

/*----------------------- $CONTAINERS */

.container {
  margin: 3rem 4% 0;

  @media #{$mq-medium} {
    margin: 3rem 8% 0;
  }

  @media #{$mq-large} {
    margin: 3rem 16% 0;
  }

  @media #{$mq-xlarge} {
    margin: 3rem 20% 0;
  }
}

.container-inner {
  margin: 3rem 4% 0;

  @media #{$mq-medium} {
    margin: 3rem 6% 0;
  }

  @media #{$mq-large} {
    margin: 3rem 10% 0;
  }

  @media #{$mq-xlarge} {
    margin: 3rem 14% 0;
  }
}

.container-narrow {
  margin: 3rem 4% 0;

  @media #{$mq-medium} {
    margin: 3rem 18% 0;
  }

  @media #{$mq-large} {
    margin: 3rem 24% 0;
  }
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.flex-column--center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item--sm {
  flex: 1 25%;

  & + .flex-item--sm,
  & + .flex-item--md,
  & + .flex-item--lg {
    margin: 1.5rem;
  }
}

.flex-item--md {
  flex: 1 1;

  & + .flex-item--sm,
  & + .flex-item--md,
  & + .flex-item--lg {
    margin: 1.5rem;
  }
}

.flex-item--lg {
  flex: 2 1;

  & + .flex-item--sm,
  & + .flex-item--md,
  & + .flex-item--lg {
    margin: 1.5rem;
  }
}

.grid-container {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: (0, 1fr);

  @media #{$mq-small} {
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  letter-spacing: 0.05rem;
  margin: 0;
  font-family: Cambay;

  &:first-child {
    margin: 1.5rem 0 0.25rem;
  }
}

h1,
.h1 {
  font-size: 2.488rem;
}

h2,
.h2 {
  font-size: 2.074rem;
}

h3,
.h3 {
  font-size: 1.728rem;
}

h4,
.h4 {
  font-size: 1.44rem;
}

.padding-right--md {
  padding-right: 0.75rem;
}

.padding-left--md {
  padding-left: 0.75rem;
}

.padding--lg {
  padding: 1.5rem;
}

.padding-x--lg {
  padding: 0 1.5rem;
}

.ul-no-bullets {
  list-style: none;
  padding: 0;
}

.text--center {
  text-align: center;
}
